body {
	/* HEX color values picked from Adobe Kuler */
	background-image: url("../images/sand-blossom/sand-blossom.gif");
	background-repeat: repeat;
	background-position: center;
	border-style: double;
	border-width: 4px;
	border-color: #000000;
	border-radius: 25px;
	padding: 40px;
	margin: 20px;
	}
h1 {
	/* ------ font from Google fonts ------*/
	font-family: 'Alfa Slab One', cursive;
	text-shadow: 4px 4px #719ED1;
	text-align: center;
	font-size: 300%;
	/* ------ RGBA color values picked from Adobe Kuler------*/
	color: rgba(28, 40, 94, 0.5);
	display: block;
	background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
	background: -linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
	}
h2 {
	background-image: url("../images/dinpattern-stripe/dinpattern-stripe.gif");
	color: lightblue;
	height: 50px;
	/* ------ font from Google fonts ------*/
	font-family: 'Wellfleet', cursive;
	text-shadow: 1px 1px #FFFFFF;
	font-size: 200%;
	text-align: center;
	display: block;
	}
h3 {
	color: darkblue;
	/* ------ HEX color value taken from Adobe Kuler ------*/
	background-color: #FFD76D;
	/* ------ font from Google fonts ------*/
	font-family: 'Alef', sans-serif;
	text-shadow: 2px 2px #45C9E2;
	font-style: italic;
	text-align: center;
	font-size: 200%;
	text-transform: uppercase;
	box-shadow: 3px 3px 2px #FFA30F;
	display: block;
	background-image: url("../images/1386892600_Football_Ball.png"), url("../images/1386892787_american_football.png");
	background-size: 50px 50px, 50px, 50px;
	background-repeat: no-repeat, no-repeat;
	background-position: bottom left, bottom right;
	}
abbr {
	color: darkred;
	font-weight: bold;
	}
p {
	font-family: Georgia;
	font-size: 112.5%;
	text-indent: 25px;
	}
#navbar, ul {
	list-style-type: none;
	background: #f6e6b4; /* Old browsers */
	background: -moz-linear-gradient(top,  hsla(45,78%,84%,1) 0%, hsla(34,85%,51%,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(45,78%,84%,1)), color-stop(100%,hsla(34,85%,51%,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  hsla(45,78%,84%,1) 0%,hsla(34,85%,51%,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  hsla(45,78%,84%,1) 0%,hsla(34,85%,51%,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  hsla(45,78%,84%,1) 0%,hsla(34,85%,51%,1) 100%); /* IE10+ */
	background: -linear-gradient(to bottom,  hsla(45,78%,84%,1) 0%,hsla(34,85%,51%,1) 100%); /* W3C */
	text-align: center;
	float: left;
	clear: left;
	padding: 2px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	margin-top: 30px;
	letter-spacing: 1px;
	line-height: 30px;
	clear: left;
	}
a:link {
	text-decoration: none;
	/* ------ HEX color value taken from Adobe Kuler ------*/
	color: #321E9A;
	}
a:visited {
	text-decoration: none;
	/* ------ HEX color value taken from Adobe Kuler ------*/
	color: #E86B68;
	}
a:hover {
	text-decoration: none;
	/* ------ HEX color value from Adobe Kuler ------*/
	color: #FFF81D;
	}
a:active {
	text-decoration: none;
	color: #02058F;
	}
#sectionone {
	background-color: #FDED96;
	}
#sectionthree {
	background-color: #FDED96;
	}
#sectionfive {
	background-color: #FDED96;
	}
table {
	background-image: url("../images/patriots.png");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 120px 120px;
	width: 700px;
	padding: 30px;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 100%;
	border: 6px;
	border-style: double;
	border-radius: 25px;
	text-align: center;
	background-color: #FFFFFF;
	}
td:hover {
	background: #05C9F5;
	}
form {
	width: 500px;
	height: 550px;
	padding: 10px;
	margin: 20px;
	font-size: 16px;
	color: #000000;
	border-style: solid;
	border-width: 4px;
	border-radius: 25px;
	border-color: #000000;
	text-align: left;
	background-color: #FFDB94;
	}
#sectionone {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	}
#sectionthree {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	}
#sectionfive {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	}
label {
    float: left;
    text-indent: 25px;
    width: 250px;
}
input {
    float: left;
}
label:hover {
	background-color: #FFEBD6;
	}
input:focus {
	background-color: #D6F5FF;
	}
textarea:focus {
	background-color: #D6F5FF;
	}